@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
input,
button,
textarea {
  font: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 1rem + 10vw, 1.5rem);
  font-family: "Jost", sans-serif;
  background-color: whitesmoke;
  color: #5e5a5a;
  line-height: 1.5;
}
p,
h1 {
  cursor: default;
}
.nowrap {
  white-space: nowrap;
}
.even-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

/* Nav Bar */
.header {
  top: 0;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}
.header__nav {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 18px;
}
.logo {
  font-family: "Arizonia", cursive;
  font-size: 2rem;
  color: white;
  cursor: default;
  font-weight: 500;
}
a:any-link {
  color: whitesmoke;
  text-decoration: none;
}
a:hover,
a:focus-visible,
a:active {
  color: white;
}
.Log {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 18px;
  gap: 5px;
}
.Log a {
  color: #4a4a4a;
}
.Log a:hover,
.Log a:focus-visible,
.Log a:active {
  color: #333;
}

/*  Main Content */
.hero-main {
  background-image: url("img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 123, 146);
}
.main {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
}
.main_content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
  padding-bottom: 3rem;
  color: whitesmoke;
}
.main_text {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
.main__h1 {
  font-size: 70px;
  margin-right: 120px;
}
.main__p {
  max-width: 40ch;
  margin: 1rem 0 2.5rem 0;
}
.shop_now {
  margin-right: 120px;
  background-color: #5b5b5b;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: smaller;
  padding: 0.75em 3em;
  border-radius: 100vmax;
  letter-spacing: 0;
}

/* Sales */
.sales {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 3rem;
  padding: 0 5rem;
}
.container {
  background-color: #c3c0c0;
  padding: 1rem;
  border-radius: 15px;
}
.even-columns > div {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.sale-img {
  margin-top: 0.5rem;
  max-width: 100%;
  height: auto;
}
.sale-p {
  margin: 0 2rem;
  text-align: start;
  font-size: 0.8rem;
}
.sale-h1 {
  margin: 0.5rem;
  font-size: 1.4rem;
}
.sales__h1 {
  font-size: 70px;
  margin-top: 4rem;
}

/* Billboards for Sale */
.sales_images {
  margin-top: 3rem;
}
.s-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.info {
  background-image: url("img/sales_board.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 760px;
  min-width: 570px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info-h1 {
  position: absolute;
  color: #e81919;
  font-weight: bolder;
  padding: 6rem;
  margin-bottom: 4rem;
  font-size: 5rem;
}
.info-button {
  position: absolute;
  bottom: 4rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  padding: 0.75em 2em;
  line-height: 1;
  border-radius: 100vmax;
  font-weight: 900;
  font-size: 1rem;
  color: #636372;
}
.info-button:hover {
  color: #4b4e55;
}

/* Page Footer*/
.page-footer {
  margin-top: 8rem;
  padding: 2rem 5rem 4rem 5rem;
  background-color: #70747d;
}
.footer-main-content {
  display: grid;
  grid-template-columns: 65% 35%;
}
.even-columns {
  padding-top: 8px;
}
.even-columns > div > h3 {
  color: white;
  cursor: default;
}
.customer > p {
  width: 97%;
  color: #c3c3c3;
}
.even-columns .customer,
.even-columns .company,
.even-columns .regions {
  display: flex;
  align-items: start;
}
.social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 3rem;
}
.social-icons a {
  border-radius: 50%;
}
.social-icons a:hover {
  box-shadow: 0 1px 10px 2px #616161;
}
.company-name {
  color: white;
  background-color: #70747d;
  font-size: 0.6rem;
  text-align: center;
  padding-top: 5rem;
}
