@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
input,
button,
textarea {
  font: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 1rem + 10vw, 1.5rem);
  font-family: "Jost", sans-serif;
  background-color: whitesmoke;
  color: #5e5a5a;
  line-height: 1.5;
}
p,
h1 {
  cursor: default;
}
.nowrap {
  white-space: nowrap;
}
.even-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Nav Bar */
.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mobile-nav-toggle {
  display: none;
}
.header__ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  gap: 1.25rem;
}
.header__nav{
  width: 94%
}
.header__ul li:first-child {
  margin-left: auto;
}
.header__ul li:last-child {
  margin-left: auto;
}
@media (max-width: 50em) {
  .nav-wrapper{
    padding: 1rem;
  }
  .header__nav {
    display: none;
    
    position: absolute;
    padding: 1.5rem;
    inset: 7rem 1rem auto;
    background: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }
  .header__ul {
    display: grid;
    gap: 1.25rem;
    justify-items: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .header__ul li a {
    text-decoration: none;
    color: #2e2e2e;
  }
  .header__ul li a:is(:hover, :focus) {
    color: #575656;
  }
  .header__nav[data-visible] {
    display: block;
  }
  .mobile-nav-toggle {
    display: block;
    margin-left: auto;
  }
  .mobile-nav-toggle {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0.5em;
  }
  .mobile-nav-toggle .icon-close {
    display: none;
  }
  .header__ul li:first-child {
    margin-left: 0;
  }
  .header__ul li:last-child {
    margin-left: 0;
  }
}
.logo {
  font-family: "Arizonia", cursive;
  font-size: 1.5rem;
  color: white;
  cursor: default;
  font-weight: 500;
}
a:any-link {
  color: whitesmoke;
  text-decoration: none;
}
a:hover,
a:focus-visible,
a:active {
  color: white;
}
.Log {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  gap: 5px;
}
.Log a {
  color: #4a4a4a;
}
.Log a:hover,
.Log a:focus-visible,
.Log a:active {
  color: #333;
}
@media (min-width: 50em) {
  .header {
    padding: 1rem 2rem 0 2rem;
  }
  .logo {
    font-size: 2rem;
  }
}

/*  Main Content */
.hero-main {
  background-image: url("img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 123, 146);
}
.main {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.main_content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  color: white;
}
.main_text {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.main__h1 {
  font-size: 35px;
}
.main__p {
  max-width: 30ch;
  font-size: 0.6rem;
  margin: 1rem 0 2.5rem 0;
}
.shop_now {
  background-color: #5b5b5b;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: smaller;
  padding: 0.75em 3em;
  font-size: 0.6rem;
  border-radius: 100vmax;
  letter-spacing: 0;
}
@media (min-width: 50em) {
  .main_content {
    width: 50%;
    color: whitesmoke;
  }
  .main__h1 {
    font-size: 65px;
    margin-right: 120px;
  }
  .main__p {
    max-width: 40ch;
    font-size: 1rem;
  }
  .shop_now {
    margin-right: 120px;
    font-size: 0.8rem;
  }
}

/* Sales */
.sales {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 3rem;
  padding: 0 1rem;
}
.container {
  background-color: #c3c0c0;
  padding: 1rem;
  border-radius: 15px;
}
.even-columns > div {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.sale-img {
  margin-top: 0.5rem;
  max-width: 100%;
  height: auto;
}
.sale-p {
  margin: 0 1rem;
  text-align: start;
  font-size: 0.5rem;
}
.sale-h1 {
  margin: 0.5rem;
  font-size: 1.2rem;
}
.sales__h1 {
  font-size: 50px;
  margin-top: 4rem;
}
@media (min-width: 50em){
  .sales{
    padding: 0 4rem;
  }
  .sale-p{
    font-size: 0.8rem;
  }
  .sale-h1{
    font-size: 1.4rem;
  }
  .sales__h1{
    font-size: 70px;
  }
}

/* Billboards for Sale */
.sales_images {
  margin-top: 3rem;
}
.s-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
}
.info {
  background-image: url("img/sales_board.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 480px;
  max-width: 450px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info-h1 {
  position: absolute;
  color: #e81919;
  font-weight: bolder;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.info-button {
  position: absolute;
  bottom: 3rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  padding: 0.75em 2em;
  line-height: 1;
  border-radius: 100vmax;
  font-weight: 900;
  font-size: 0.6rem;
  color: #636372;
}
.info-button:hover {
  color: #4b4e55;
}
@media (min-width: 50em) {
  .s-images{
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .info{
    min-height: 760px;
    max-width: 570px;
  }
  .info-h1{
    margin-bottom: 4rem;
    font-size: 5rem;
  }
  .info-button{
    font-size: 1rem;
    bottom: 4rem;
  }
}

/* Page Footer*/
.page-footer {
  margin-top: 8rem;
  padding: 2rem 1.5rem 4rem 1.5rem;
  background-color: #70747d;
}
.footer-main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.even-columns {
  padding-top: 8px;
}
.even-columns > div > h3 {
  color: white;
  cursor: default;
}
.customer > p {
  width: 97%;
  color: #c3c3c3;
}
.even-columns .customer,
.even-columns .company,
.even-columns .regions {
  display: flex;
  align-items: start;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
}
@media (min-width: 50rem) {
  .page-footer {
    padding: 2rem 5rem 4rem 5rem;
  }
  .social-icons {
    align-items: flex-start;
    justify-content: flex-end;
    gap: 3rem;
  }
}
.social-icons a {
  border-radius: 50%;
}
.social-icons a:hover {
  box-shadow: 0 1px 10px 2px #616161;
}
.company-name {
  color: white;
  background-color: #70747d;
  font-size: 0.6rem;
  text-align: center;
  padding-top: 5rem;
}
